# Build results
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Bb]in/
[Oo]bj/

# BCUS Output Folders
**/BC_Simulations/
**/BC_Output/
**/BC_Result/
**/SA_Output/
**/SA_Simulations/
**/UA_output/
**/UA_Simulations/

# BCUS Output Files
**/cal_sim_data.txt
**/cal_field_data.txt

# Backup files from MS software (word, ppt, excel)
**/~*

# rubymine project files
**/.idea/

# Doxygen output folder
[Dd]oc/

# Mac temporary files
.DS_Store

# VS code files
.vscode
