# Build results
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Bb]in/
[Oo]bj/

# BCUS Output Folders
**/PreRuns_Simulations/
**/PreRuns_Output/
**/PreRuns_Models/
**/SA_Output/
**/SA_Simulations/
**/SA_Models/
**/UA_Output/
**/UA_Simulations/
**/UA_Models/
**/Calibrated_Model/
**/Calibration_Output/

# BCUS Output Files
**/cal_sim_runs.txt
**/cal_utility_data.txt

# Rstudio session files
**/.Rhistory

# Backup files from MS software (word, ppt, excel)
**/~*
**/*.bak

# rubymine project files
**/.idea/

# Doxygen output folder
[Dd]oc/

# Mac temporary files
.DS_Store

#

